body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
.navbar{
  display: flex;
  flex-direction: row;
}

hr {
  width: 1400px;
}

#title {
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 2px;
}

#board {
  width: 310px;
  height: 275px;
 
  margin-top: 6px;
  margin-left: 41%;
  display: flex; /*keeps our tile elements within the board object*/
  flex-wrap: wrap;
}

.tile {
  /* Box */
  border: 2px solid lightgray;
  width: 60px;
  height: 60px;
  margin: 0.8px;

  /* Text */
  color: black;
  font-size: 36px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.correct {
  background-color: green;
  color: white;
  border-color: white;
}

.present {
  background-color: rgb(200, 200, 5);
  color: white;
  border-color: white;
}

.absent {
  background-color: gray;
  color: white;
  border-color:white;
}
#buttons {
  display: flex;
  margin-left: 80%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 0%;
}

#changetheme{
  width: 30px;
  height: 30px;
  padding: 5px;
}
#changetheme:hover{
  background-color: rgb(189, 189, 189);
}
#help{
  width: 30px;
  height: 30px;
  padding: 5px;
}
#help:hover{
  background-color: rgb(189, 189, 189);
}
#info{
  width: 30px;
  height: 30px;
  padding: 5px;
}
#info:hover{
  background-color: rgb(189, 189, 189);
}

.fullbody{
  display: flex;
  flex-direction: column;
}
#infotext{
  text-align: left;
  
}
li{
  padding: 4px;
}
#vertical_line{
  height: 633px;
  border-left: 1px solid gray;
  left: 71%;
  position: absolute;
  margin-left: -150px;
  bottom: 47px;
}
body{
  border-top: 4px solid green;
  padding-top: 0px;
}
.dark{
  background-color: rgb(63, 63, 63);
  color: white; 
}

.whitetext{
  color: white;
}

.displayn{
  display: none;
}
.foot{
  text-align: center;
  color: gray;
  border-top: 1px solid gray;
  margin-top: 0%;
}


#startover{
  width: 90px;
  color: white;
  height: 30px;
  background-color: green;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 47%;
}
#startover:hover{
  background-color: darkgreen;
}
#bottom{
  height: 35px;
  margin-top: 17%;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#congratulations{
  margin-left: 33%;
}